.mainDiv {
  background-image: url('../../imagenes/cielo.jpg');
}
.titulo {
  text-align: center;
  color: white;
  background-color: black;
}
.links {
  text-align: center;
  margin: auto;
  color: blue;
  background-color: #ff00ff;
}

.letra {
  text-align: justify;
  margin: auto;
  color: blue;
  font-family: cursive;
  font-size: xx-large;
}
.p {
  font-weight: 1000;
}
.pa {
  font-weight: 700;
}