.mainDiv {
  background-image: url('../../imagenes/cielo.jpg');
}
.titulo {
  text-align: center;
  color: white;
  background-color: black;
} 

.letra {
  text-align: justify;
  margin: auto;
  color: #5731CD;
  font-family: cursive;
  font-size: xx-large;
}
.p {
  font-weight: 1000;
}
.pa {
  font-weight: 700;
}