.mainDiv {
  margin: auto;
  width: 90%;
  text-align: center;
  background-color: #51d1f6;
}

.tabla {
  background-color: white;
  width: 80%;
  margin: auto;
}

.th {
  width: 25%;
  text-align: center;
  border: 10px solid #000;
  border-spacing: 0;
  background-color: black;
  color: aliceblue;
}

.td {
  width: 25%;
  text-align: center;
  border: 10px solid #51d1f6;
  border-spacing: 0;
  padding: 0.3em;
  caption-side: bottom;
}
.titulo {
  text-align: center;
  color: white;
  background-color: black;
}


