.tabla {
  background-color: cadetblue;
  width: 80%;
  border: 1px solid #000;
  margin: auto;
}

.th {
  width: 25%;
  text-align: center;
  border: 1px solid #000;
  border-spacing: 0;
  background-color: black;
  color: aliceblue;
}

.td {
  width: 25%;
  text-align: center;
  border: 1px solid #000;
  border-spacing: 0;
  padding: 0.3em;
  caption-side: bottom;
}
.boton {
  align-items: center;
  align-content: center;
  margin-bottom: left;
}
.titulo {
  text-align: center;
  color: azure;
  background-color: black;
}
